@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;900&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --bg: #020817;
  --nav-heading: #fcfcfc;
  --text: rgba(255, 255, 255, 0.5);
  --border: 1px solid rgba(255, 255, 255, 0.164);
  --card-border: rgba(255, 255, 255, 0.164);
  --bg-panel: black;
}

html[data-theme=light] {
  --bg-panel: black;
  --border: 1px solid rgba(0, 0, 0, 0.164);
  --nav-heading: black;
  --bg-banner: linear-gradient(
    to top right,
    rgb(95, 253, 151),
    rgb(142, 190, 248)
  );
  --bg: #fcfcfc;
  --text: rgb(0, 0, 0);
  --card-border: rgba(255, 255, 255, 0.164);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: sticky;
  z-index: 20;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: #020817;
  border-bottom: var(--border);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
header nav {
  padding: 0 25px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h1 a {
  background: linear-gradient(rgb(234, 0, 255), rgb(208, 255, 0));
  background-clip: text;
  color: transparent;
}
header nav h1 a span {
  color: rgb(255, 0, 0);
}
header nav div {
  display: flex;
  align-items: center;
}
header nav .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  margin-left: 20px;
  border-radius: 30px;
  cursor: pointer;
}
header nav .switch .sun img {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 15px;
  height: 15px;
  animation: tilt 2s linear infinite;
}
header nav .switch .moon img {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 15px;
  height: 15px;
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header nav .slider {
  position: absolute;
  cursor: pointer;
  background-color: #183153;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 30px;
  border: var(--border);
}
header nav .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 20px;
  left: 4px;
  bottom: 2px;
  z-index: 2;
  background-color: #ffde65;
  transition: 0.4s;
}
header nav .input:checked + .slider {
  background-color: #4d95cc;
  border-color: rgb(79, 20, 243);
}
header nav .input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
header nav .input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #e8e8e8;
}
header nav i {
  display: none;
  cursor: pointer;
  color: white;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li {
  margin-left: 30px;
}
header nav ul li a {
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}
header nav ul li a:hover {
  color: white;
}

.hero {
  justify-content: space-between;
  display: flex;
  padding: 25px;
  margin-top: 25px;
  gap: 10px;
}
.hero .hero-left {
  border-radius: 25px;
  border: var(--border);
  padding: 25px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: var(--bg-banner);
  width: 60%;
}
.hero .hero-left h1 {
  font-size: 60px;
  letter-spacing: 3px;
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  color: var(--nav-heading);
}
.hero .hero-left h1 span {
  color: #dc2626;
}
.hero .hero-left h3 {
  margin: 50px 0 30px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #eab308;
}
.hero .hero-left .btn {
  padding: 5px 12px;
  font-size: 20px;
  text-align: center;
  background-color: #eab308;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: all ease;
}
.hero .hero-left .btn:hover {
  transform: scale(1.05);
}
.hero .hero-left .btn i {
  margin-left: 5px;
}
.hero img {
  width: 360px;
  background: rgb(120, 120, 255);
  border-radius: 25px;
}
.hero .hero-right {
  display: flex;
  gap: 25px;
}
.hero .hero-right .hero-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero .hero-right .hero-icons a {
  border: var(--border);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  font-size: 25px;
  border-radius: 100%;
  transition: all ease;
  color: var(--nav-heading);
}
.hero .hero-right .hero-icons a:hover {
  transform: scale(1.05);
}

.about {
  display: flex;
  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;
  border: var(--border);
  padding: 25px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  margin: 0 25px;
  gap: 25px;
}
.about img {
  border-radius: 25px;
  width: 80%;
  height: fit-content;
}
.about .column-right h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #9ca3af;
  border-bottom: var(--border);
  margin-bottom: 20px;
}
.about .column-right p {
  color: var(--text);
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
.about .column-right .about-card {
  border-radius: 25px;
  border: var(--border);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-color: var(--card-border);
  background-color: black;
  height: max-content;
  margin-top: 12px;
  padding: 12px 20px;
}
.about .column-right .about-card .about-menu {
  display: flex;
  list-style-type: none;
  margin-bottom: 12px;
  color: #eab308;
  gap: 15px;
  border-bottom: var(--border);
  border-color: var(--card-border);
  padding-bottom: 10px;
}
.about .column-right .about-card .about-menu li {
  cursor: pointer;
  transition: all ease;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.about .column-right .about-card .about-menu li:hover {
  transform: scale(1.05);
}
.about .column-right .about-card .dropdown {
  list-style-type: none;
}
.about .column-right .about-card .dropdown li p {
  font-size: 12px;
  font-weight: 600;
  color: #dc2626;
  margin-bottom: 5px;
}
.about .column-right .about-card .dropdown li h5 {
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}
.about .column-right .about-card .dropdown li h5:nth-child(3) {
  font-weight: 200;
  font-size: 12px;
}

.skill {
  margin: 0 25px;
  display: flex;
  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;
  border: var(--border);
  padding: 25px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.skill h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #9ca3af;
  border-bottom: var(--border);
  margin-bottom: 20px;
}
.skill .skill-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 25px;
}
.skill .skill-container .skill-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border: 2px solid red;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--bg-panel);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}
.skill .skill-container .skill-list img {
  width: 35px;
  height: 35px;
}
.skill .skill-container .skill-list:nth-child(odd) {
  border-color: blue;
}
.skill .skill-container .skill-list:nth-child(3n) {
  border-color: rgb(255, 0, 98);
}
.skill .skill-container .skill-list i {
  color: rgb(0, 119, 255);
  font-size: 30px;
}

.project {
  margin: 0 25px;
  display: flex;
  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;
  border: var(--border);
  padding: 25px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.project h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #9ca3af;
  border-bottom: var(--border);
  margin-bottom: 20px;
}
.project .project-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.project .project-container .project-card {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  width: 320px;
  height: 250px;
  border: var(--border);
}
.project .project-container .project-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project .project-container .project-card .project-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
}
.project .project-container .project-card .project-info h4 {
  font-size: 16px;
  line-height: 20px;
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: black;
  font-weight: 300;
}
.project .project-container .project-card .project-info h4 i {
  margin-right: 5px;
  color: rgb(95, 95, 255);
  font-size: 20px;
}
.project .project-container .project-card .project-info .project-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.0392156863);
  border: var(--border);
  border-radius: 20px;
}
.project .project-container .project-card .project-info .project-btn .btn {
  padding: 5px 12px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #eab308;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: all ease;
}
.project .project-container .project-card .project-info .project-btn .btn:hover {
  transform: scale(1.05);
}
.project .project-container .project-card .project-info .project-btn .btn i {
  margin-right: 5px;
  font-weight: 900;
  color: black;
}

.contact {
  margin: 0 25px;
  display: flex;
  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;
  border: var(--border);
  padding: 25px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.contact h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #9ca3af;
  border-bottom: var(--border);
  margin-bottom: 20px;
}
.contact .contact-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.contact .contact-container img {
  width: 400px;
  border-radius: 25px;
}
.contact .contact-container .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .contact-container .contact-info .contact-card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contact .contact-container .contact-info .contact-card a {
  border: var(--border);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  font-size: 25px;
  border-radius: 100%;
  background-color: blue;
  transition: all ease;
}
.contact .contact-container .contact-info .contact-card a:hover {
  transform: scale(1.05);
}
.contact .contact-container .contact-info .contact-card h3 {
  line-height: 30px;
  letter-spacing: 3px;
  font-family: "Roboto Mono", monospace;
  color: var(--nav-heading);
}
.contact .contact-container .contact-info .contact-card h3 span {
  font-weight: 300;
  font-size: 14px;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

footer {
  margin-top: 20px;
  text-align: center;
  border-top: var(--border);
  font-family: "Roboto Mono", monospace;
  height: 180px;
}
footer .footer-icons {
  padding: 15px 0;
}
footer .footer-icons a {
  margin: 0 10px;
  font-size: 30px;
  transition: all ease;
  color: var(--text);
}
footer .footer-icons a:hover {
  color: var(--nav-heading);
}
footer p {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  color: var(--text);
}

@media screen and (max-width: 842px) {
  .hero {
    background: var(--bg-banner);
    margin: 25px;
    flex-direction: column-reverse;
    align-items: center;
    display: flex;
    padding: 25px;
    margin-top: 25px;
    border-radius: 25px;
    border: var(--border);
    padding: 25px 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }
  .hero .hero-left {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    text-align: center;
  }
  .hero .hero-left h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .hero .hero-left h3 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 400;
  }
  img {
    width: 300px;
    height: 430px;
  }
  .about img {
    display: none;
  }
  .contact .contact-container img {
    display: none;
  }
  .contact .contact-container .contact-info {
    gap: 20px;
  }
}
@media screen and (max-width: 596px) {
  .navbar {
    position: relative;
  }
  .navbar h1 {
    font-size: 22px;
  }
  .navbar div {
    flex-direction: row-reverse;
    gap: 15px;
  }
  .navbar label i:nth-child(1) {
    display: block;
    font-size: 27px;
  }
  .navbar label i:nth-child(2) {
    font-size: 30px;
  }
  .navbar .menu {
    position: absolute;
    z-index: 10;
    text-align: center;
    top: -220px;
    display: flex;
    border-bottom: var(--border);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: black;
    width: 100%;
    flex-direction: column;
    left: 0;
    gap: 30px;
    padding: 20px 0;
    transition: all ease 0.5s;
  }
  .navbar .menu li {
    margin: 0;
  }
  .hero {
    padding: 15px 0;
    margin: 15px 10px;
  }
  .hero .hero-left h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .hero .hero-left h3 {
    font-size: 20px;
  }
  .hero .hero-left .btn {
    font-size: 16px;
  }
  .hero .hero-right {
    gap: 15px;
  }
  .hero .hero-right img {
    width: 250px;
    height: 300px;
  }
  .hero .hero-right .hero-icons a {
    font-size: 18px;
    padding: 5px 8px;
  }
  .about {
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .about .column-right h1 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .about .column-right p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 19px;
  }
  .skill {
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .skill h1 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .skill .skill-container {
    gap: 14px;
    margin-top: 0;
  }
  .skill .skill-container .skill-list {
    font-size: 14px;
    padding: 7px 10px;
    border-width: 1px;
  }
  .skill .skill-container .skill-list img {
    width: 30px;
    height: 30px;
  }
  .project {
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .project h1 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .project .project-container {
    margin-top: 0;
  }
  .contact {
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .contact h1 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .contact .contact-container {
    margin-top: 0;
  }
  .contact .contact-container .contact-info .contact-card {
    gap: 20px;
  }
  .contact .contact-container .contact-info .contact-card a {
    font-size: 20px;
    padding: 5px 8px;
  }
  .contact .contact-container .contact-info .contact-card h3 {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .contact .contact-container .contact-info .contact-card h3 span {
    font-size: 12px;
  }
  footer {
    margin-bottom: 5px;
  }
  footer .footer-icons {
    padding: 10px 0;
  }
  footer .footer-icons a {
    font-size: 20px;
  }
  footer p {
    font-size: 10px;
    font-weight: 0;
  }
}

/*# sourceMappingURL=style.css.map */
