@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;900&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

$base-font: "Montserrat", sans-serif;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto Mono", monospace;
$primary-bg: #020817;
$border: 1px solid rgba(255, 255, 255, 0.164);
$pad: 25px;
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

@mixin display {
  display: flex;
  padding: 25px;
  margin-top: 25px;
}

@mixin card {
  border-radius: 25px;
  border: $border;
  padding: 25px 30px;
  box-shadow: $shadow;
}

@mixin title {
  font-size: 40px;
  font-family: $primary-font;
  font-weight: 600;
  color: #9ca3af;
  border-bottom: $border;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $base-font;
  background-color: $primary-bg;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: sticky;
  z-index: 20;
  top: 0;
  backdrop-filter: blur(10px);
  border-bottom: $border;
  box-shadow: $shadow;
  nav {
    padding: 0 $pad;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 span {
      color: rgb(255, 0, 0);
    }

    i {
      display: none;
      cursor: pointer;
    }
    ul {
      display: flex;
      list-style-type: none;
      li {
        margin-left: 30px;
        a {
          font-family: $base-font;
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.hero {
  justify-content: space-between;
  @include display();
  gap: 10px;

  .hero-left {
    @include card();
    width: 60%;

    h1 {
      font-size: 60px;
      letter-spacing: 3px;
      margin-top: 20px;
      font-family: $secondary-font;

      span {
        color: #dc2626;
      }
    }
    h3 {
      margin: 50px 0 30px;
      font-size: 30px;
      font-family: $primary-font;
      font-weight: 400;
      color: #eab308;
    }

    .btn {
      padding: 5px 12px;
      font-size: 20px;
      text-align: center;
      background-color: #eab308;
      border: none;
      border-radius: 10px;
      font-family: $primary-font;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
      transition: all ease;

      &:hover {
        transform: scale(1.05);
      }
      i {
        margin-left: 5px;
      }
    }
  }
  img {
    width: 360px;
    background: rgb(120, 120, 255);
    border-radius: 25px;
  }

  .hero-right {
    display: flex;
    gap: 25px;

    .hero-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      a {
        border: $border;
        box-shadow: $shadow;
        padding: 10px 12px;
        font-size: 25px;
        border-radius: 100%;
        transition: all ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.about {
  @include display();
  @include card();
  margin: 0 25px;
  gap: 25px;

  img {
    border-radius: $pad;
    width: 80%;
  }
  .column-right {
    h1 {
      @include title();
    }
    p {
      color: rgba(255, 255, 255, 0.5);
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
    }
    .about-card {
      @include card();
      background-color: black;
      height: 30vh;
      margin-top: 12px;
      padding: 12px 20px;

      .about-menu {
        display: flex;
        list-style-type: none;
        margin-bottom: 12px;
        color: #eab308;
        gap: 15px;
        border-bottom: $border;
        padding-bottom: 10px;

        li {
          cursor: pointer;
          transition: all ease;
          font-weight: 600;
          font-family: $primary-font;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .dropdown {
        list-style-type: none;

        li {
          p {
            font-size: 12px;
            font-weight: 600;
            color: #dc2626;
            margin-bottom: 5px;
          }
          h5 {
            margin-bottom: 5px;
            font-weight: 400;
            letter-spacing: 1px;
            &:nth-child(3) {
              font-weight: 200;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.skill {
  margin: 0 25px;
  @include display();
  @include card();
  flex-direction: column;
  h1 {
    @include title();
  }
  .skill-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;

    .skill-list {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 15px;
      border: 2px solid red;
      font-size: 18px;
      border-radius: 10px;
      background-color: black;
      font-family: $secondary-font;
      letter-spacing: 1px;
      img {
        width: 35px;
        height: 35px;
      }
    }

    .skill-list:nth-child(odd) {
      border-color: blue;
    }

    .skill-list:nth-child(3n) {
      border-color: rgb(255, 0, 98);
    }

    .skill-list i {
      color: rgb(0, 119, 255);
      font-size: 30px;
    }
  }
}

.project {
  margin: 0 25px;
  @include display();
  @include card();
  flex-direction: column;
  h1 {
    @include title();
  }

  .project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;

    .project-card {
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      width: 320px;
      height: 250px;
      border: $border;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .project-info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 25px;

        h4 {
          font-size: 16px;
          line-height: 20px;
          backdrop-filter: blur(10px);
          font-family: $primary-font;
          letter-spacing: 2px;
          width: fit-content;
          padding: 6px 12px;
          border-radius: 20px;
          background-color: black;
          font-weight: 300;

          i {
            margin-right: 5px;
            color: rgb(95, 95, 255);
            font-size: 20px;
          }
        }

        .project-btn {
          display: flex;
          justify-content: space-between;
          padding: 10px 12px;
          backdrop-filter: blur(5px);
          background-color: #0000000a;
          border: $border;
          border-radius: 20px;

          .btn {
            padding: 5px 12px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            background-color: #eab308;
            font-family: $secondary-font;
            letter-spacing: 3px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-family: $primary-font;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
            transition: all ease;

            &:hover {
              transform: scale(1.05);
            }

            i {
              margin-right: 5px;
              font-weight: 900;
              color: black;
            }
          }
        }
      }
    }
  }
}

.contact {
  margin: 0 25px;
  @include display();
  @include card();
  flex-direction: column;
  h1 {
    @include title();
  }
  .contact-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    img {
      width: 400px;
      border-radius: 25px;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .contact-card {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
          border: $border;
          box-shadow: $shadow;
          padding: 10px 12px;
          font-size: 25px;
          border-radius: 100%;
          background-color: blue;
          transition: all ease;

          &:hover {
            transform: scale(1.05);
          }
        }
        h3 {
          line-height: 30px;
          letter-spacing: 3px;
          font-family: $secondary-font;

          span {
            font-weight: 300;
            font-size: 14px;
            color: #ffffff6e;
            font-family: $base-font;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
  text-align: center;
  border-top: $border;
  font-family: $secondary-font;

  .footer-icons {
    padding: 15px 0;
    a {
      margin: 0 10px;
      font-size: 30px;
      transition: all ease;
      color: #ffffff65;

      &:hover {
        color: white;
      }
    }
  }
  p {
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

@media screen and (max-width: 842px) {
  .hero {
    margin: 25px;
    flex-direction: column-reverse;
    align-items: center;
    @include display();
    @include card();

    .hero-left {
      width: 100%;
      border: none;
      box-shadow: none;
      padding: 0;
      text-align: center;

      h1 {
        font-size: 40px;
        line-height: 60px;
      }
      h3 {
        margin: 20px 0;
        font-size: 25px;
        font-weight: 400;
      }
    }
  }
  img {
    width: 300px;
    height: 430px;
  }

  .about {
    img {
      display: none;
    }
  }

  .contact {
    .contact-container {
      img {
        display: none;
      }
      .contact-info {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 583px) {
  .navbar {
    position: relative;
    h1 {
      font-size: 22px;
    }

    label {
      i {
        &:nth-child(1) {
          display: block;
          font-size: 27px;
        }
        &:nth-child(2) {
          font-size: 30px;
        }
      }
    }
    .menu {
      position: absolute;
      z-index: 10;
      text-align: center;
      top: -220px;
      display: flex;
      border-bottom: $border;
      box-shadow: $shadow;
      color: white;
      background-color: black;
      width: 100%;
      flex-direction: column;
      left: 0;
      gap: 30px;
      padding: 20px 0;
      transition: all ease 0.5s;

      li {
        margin: 0;
      }
    }
  }
  .hero {
    padding: 15px 0;
    margin: 15px 10px;
    .hero-left {
      h1 {
        font-size: 25px;
        line-height: 35px;
      }
      h3 {
        font-size: 20px;
      }
      .btn {
        font-size: 16px;
      }
    }
    .hero-right {
      gap: 15px;
      img {
        width: 250px;
        height: 300px;
      }

      .hero-icons {
        a {
          font-size: 18px;
          padding: 5px 8px;
        }
      }
    }
  }

  .about {
    padding: 15px 20px;
    margin: 15px 10px;
    .column-right {
      h1 {
        font-size: 20px;
        padding-bottom: 8px;
      }
      p {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 19px;
      }
    }
  }

  .skill {
    padding: 15px 20px;
    margin: 15px 10px;
    h1 {
      font-size: 20px;
      padding-bottom: 8px;
    }
    .skill-container {
      gap: 14px;
      margin-top: 0;
      .skill-list {
        font-size: 14px;
        padding: 7px 10px;
        border-width: 1px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .project {
    padding: 15px 20px;
    margin: 15px 10px;
    h1 {
      font-size: 20px;
      padding-bottom: 8px;
    }
    .project-container {
      margin-top: 0;
    }
  }

  .contact {
    padding: 15px 20px;
    margin: 15px 10px;
    h1 {
      font-size: 20px;
      padding-bottom: 8px;
    }
    .contact-container {
      margin-top: 0;
      .contact-info {
        .contact-card {
          gap: 20px;
          a {
            font-size: 20px;
            padding: 5px 8px;
          }
          h3 {
            font-size: 13px;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: 1px;
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  footer {
    margin-bottom: 5px;
    .footer-icons {
      padding: 10px 0;
      a {
        font-size: 20px;
      }
    }
    p {
      font-size: 10px;
      font-weight: 0;
    }
  }
}
